
@{
    ViewBag.Title = "About";
}
<!-- Page Content -->
<div class="container">
    <div class="row">
        @*KATEGORİLER*@
        <div class="col-md-3">
            @Html.Partial("_PartialCategories");
        </div>
        <div class="col-md-7 col-md-offset-1">
            @*Notlar*@
            <div class="row">
               
                <h1>About Page</h1>
                <img src="http://placehold.it/500x200" class="center-block img-responsive img-rounded img-thumbnail"/>
                <hr />
            </div>
        </div>
    </div>
</div>

